<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
  </head>
  <body>
    <div class="container">
      <h2>Change Password</h2>
      <div>
        <label for="original-password">Original Password:</label>
        <input
          type="password"
          id="original-password"
          name="original-password"
          required
        />
      </div>
      <div>
        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" name="new-password" required />
      </div>
      <div id="message"></div>
      <button id="change-password-btn">Change Password</button>
      <button class="go-back-btn" onclick="window.location.href='/dashboard'">
        Go Back
      </button>
    </div>
    <script src="js/changepassword.js"></script>
  </body>
</html>
