<!DOCTYPE html>
<html>
  <head>
    <title>Student Report App</title>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <div class="login-container">
      <form class="login-form" action="/auth/login" method="POST">
        <h2>Login</h2>
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter your Email"
          required
        />
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Enter Password"
          required
        />
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
