<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library</title>
    <link rel="stylesheet" href="css/library.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container" id="library-container">
      
      <h1 id="library"><i class="fa-solid fa-book-open-reader"></i> Library</h1>
      <div class="card-container" id="card-container"></div>
    </div>
    <button class="go-back-btn" onclick="window.history.back()">Go Back</button>

    <script src="js/library.js"></script>
  </body>
</html>
