<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library</title>
    <link rel="stylesheet" href="css/library.css" />
  </head>
  <body>
    <div class="container" id="library-container">
      <h1>Library</h1>
      <div class="card-container" id="card-container"></div>
    </div>
    <button class="go-back-btn" onclick="window.history.back()">Go Back</button>

    <script src="js/library.js"></script>
  </body>
</html>
