<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library Page</title>
    <link rel="stylesheet" href="css/library.css" />
  </head>
  <body>
    <header>
      <div class="header-content">
        <h1>Welcome to the Library</h1>
        <nav>
          <ul>
            <li><a href="#resources">Resources</a></li>
            <li><a href="/about" target="_blank">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section id="resources">
        <h2>Digital Resources</h2>
        <p>
          Access a variety of digital resources including eBooks, journals, and
          databases.
        </p>
        <div class="card-container">
          <div class="card">
            <h3>IIIT-NR Library</h3>
            <p>
              Browse our extensive collection of Books available for download.
            </p>
            <a href="https://library.iiitnr.edu.in/" target="_blank"
              >Visit Library</a
            >
          </div>
          <div class="card">
            <h3>Recommended Resources</h3>
            <p>Access all the important resources for academic research.</p>
            <a
              href="https://drive.google.com/drive/folders/18uHg4I2QizLnA3EhokzAmzxU7qNIF4e5"
              target="_blank"
              >View Resources</a
            >
          </div>
          <div class="card">
            <h3>National Digital Library</h3>
            <p>Read the latest articles from various academic journals.</p>
            <a href="https://ndl.iitkgp.ac.in/" target="_blank"
              >Access Library</a
            >
          </div>
        </div>
      </section>
    </main>
    <button class="go-back-btn" onclick="window.location.href='/dashboard'">
      Go Back
    </button>
  </body>
</html>
