<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="css/register.css" />
  </head>
  <body>
    <div class="container">
      <h2>Create Your Account</h2>
      <form action="/auth/register" method="post" id="register-form">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="form-group">
          <label for="roll">Roll No.</label>
          <input type="number" id="roll" name="roll" required />
        </div>
        <div class="form-group">
          <label for="year">Year:</label>
          <div class="radio-group">
            <input type="radio" id="1st" name="year" value="1st" required />
            <label for="1st">1st</label>
            <input type="radio" id="2nd" name="year" value="2nd" required />
            <label for="2nd">2nd</label>
            <input type="radio" id="3rd" name="year" value="3rd" required />
            <label for="3rd">3rd</label>
            <input type="radio" id="4th" name="year" value="4th" required />
            <label for="4th">4th</label>
          </div>
        </div>
        <div class="form-group">
          <label for="branch">Branch:</label>
          <div class="radio-group">
            <input type="radio" id="CSE" name="branch" value="CSE" required />
            <label for="CSE">CSE</label>
            <input type="radio" id="ECE" name="branch" value="ECE" required />
            <label for="ECE">ECE</label>
            <input type="radio" id="DSAI" name="branch" value="DSAI" required />
            <label for="DSAI">DSAI</label>
          </div>
        </div>
        <div class="form-group">
          <label for="division">Division:</label>
          <div class="radio-group">
            <input type="radio" id="basic" name="division" value="B" required />
            <label for="basic">Basic</label>
            <input
              type="radio"
              id="advance 1"
              name="division"
              value="A1"
              required
            />
            <label for="advance 1">Advance 1</label>
            <input
              type="radio"
              id="advance 2"
              name="division"
              value="A2"
              required
            />
            <label for="advance 2">Advance 2</label>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div id="error-message" class="error-message"></div>
        <button type="submit" class="btn" id="submit-btn">Register</button>
      </form>
    </div>
    <script src="js/register.js"></script>
  </body>
</html>
