<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weekly Timetable</title>
    <link rel="stylesheet" href="css/timetable.css" />
  </head>
  <body>
    <div class="container">
      <h1>Weekly Timetable</h1>
      <table class="timetable">
        <tr class="header">
          <th class="day">Day</th>
          <th class="time">9:00 - 9:55</th>
          <th class="time">10:00 - 10:55</th>
          <th class="time">11:00 - 11:55</th>
          <th class="time">12:00 - 12:55</th>
          <th class="time">1:00 - 1:55</th>
          <th class="time">2:00 - 2:55</th>
          <th class="time">3:00 - 3:55</th>
          <th class="time">4:00 - 4:55</th>
          <th class="time">5:00 - 5:55</th>
        </tr>
        <tr id="Monday-row">
          <td class="day">Monday</td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="lunch"></td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="subject"></td>
        </tr>
        <tr id="Tuesday-row">
          <td class="day">Tuesday</td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="lunch"></td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="subject"></td>
        </tr>
        <tr id="Wednesday-row">
          <td class="day">Wednesday</td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="lunch"></td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="subject"></td>
        </tr>
        <tr id="Thursday-row">
          <td class="day">Thursday</td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="lunch"></td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="subject"></td>
        </tr>
        <tr id="Friday-row">
          <td class="day">Friday</td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="lunch"></td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="subject"></td>
          <td class="subject"></td>
        </tr>
      </table>
      <button class="go-back-btn" onclick="window.history.back()">
        Go Back
      </button>
    </div>
    <div class="hover-box" id="hover-box"></div>
    <script src="js/timetable.js"></script>
  </body>
</html>
