<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Timetable</title>
    <link rel="stylesheet" href="timetable.css">
</head>
<body>
    <div class="container">
        <h1>Weekly Timetable</h1>
        <table class="timetable">
            <tr class="header">
                <th>Time</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
            <tr>
                <td>9:00 - 9:55</td>
                <td class="subject"></td>
                <td class="subjectlab">Software Development</td>
                <td class="subject"></td>
                <td class="subject">Probability & Statistics</td>
                <td class="subjectlab">ILC Lab (138)</td>
            </tr>
            <tr>
                <td>10:00 - 10:55</td>
                <td class="subject">ILC</td>
                <td class="subjectlab">Software Development</td>
                <td class="subject">Probability & Statistics</td>
                <td class="subject">Probability & Statistics</td>
                <td class="subjectlab">ILC Lab (138)</td>
            </tr>
            <tr>
                <td>11:00 - 11:55</td>
                <td class="subjectlab">Sensors and Actuators</td>
                <td class="subject">UHV (122)</td>
                <td class="subjectlab">ITP Lab</td>
                <td class="subject">Software Development</td>
                <td class="subject">DLD(Th.)</td>
            </tr>
            <tr>
                <td>12:00 - 12:55</td>
                <td class="subjectlab">Sensors and Actuators</td>
                <td class="subject">EVS (135)</td>
                <td class="subjectlab">ITP Lab</td>
                <td class="subject"></td>
                <td class="subject">LAMA</td>
            </tr>
            <tr>
                <td>1:00 - 1:55</td>
                <td class="subjectlunch">LUNCH</td>
                <td class="subjectlunch">LUNCH</td>
                <td class="subjectlunch">LUNCH</td>
                <td class="subjectlunch">LUNCH</td>
                <td class="subjectlunch">LUNCH</td>
            </tr>
            <tr>
                <td>2:00 - 2:55</td>
                <td class="subject">Discrete Mathematics</td>
                <td></td>
                <td class="subject">UHV (122)</td>
                <td class="subjectlab">DLD Lab</td>
                <td class="subject"></td>
            </tr>
            <tr>
                <td>3:00 - 3:55</td>
                <td></td>
                <td class="subject">LAMA</td>
                <td class="subject">UHV (122)</td>
                <td class="subjectlab">DLD Lab</td>
                <td class="subject">Sensors and Actuators</td>
            </tr>
            <tr>
                <td>4:00 - 4:55</td>
                <td class="subject">ITP</td>
                <td class="subject">Discrete Mathematics</td>
                <td class="subject">LAMA</td>
                <td class="subject">ITP</td>
                <td class="subjectlab">EVS (135)</td>
            </tr>
            <tr>
                <td>5:00 - 5:55</td>
                <td></td>
                <td class="subject">Discrete Mathematics</td>
                <td class="subject">LAMA</td>
                <td></td>
                <td class="subjectlab">EVS (135)</td>
            </tr>
        </table>
    </div>
</body>
</html>